.skills-section {
    background-color: black;
}

.skills-section h2 {
    font-size: 2.8rem;
}

.skills-section p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.skills-section h3 {
    font-size: 2rem;
}

@media (max-width: 880px) {
    .skills-section h2 {
        font-size: 2rem;
    }

    .skills-section h3 {
        font-size: 1.5rem;
    }

    .skills-section p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .skills-section h2 {
        font-size: 1.6rem;
    }

    .skills-section h3 {
        font-size: 1.3rem;
    }

    .skills-section p {
        font-size: 0.95rem;
    }

}